stag_demo_srv1 ansible_ssh_port=22 ansible_ssh_host=DEMO_SERVER_IP


; ========== FEATURES ==========
[application]
; stag_demo_srv1

[postgresql]
; stag_demo_srv1

[mysql]

[mongodb]

[redis]
; stag_demo_srv1

[sidekiq]
; stag_demo_srv1

[delayed_job]

[resque]

; ========== ENVIRONMENT ==========
[staging]
; stag_demo_srv1

;[production]

; ========== OS DISTRIBUTION ==========
; to load vars form group_vars/<us distribution>.yml host must be in relevant group
[debian-jessie]

[ubuntu-trusty]
; stag_demo_srv1
